## Python Practice 2

## Numbers

### Question 1
Insert the correct syntax to convert x into a floating point number.

In [2]:
x = 5

In [3]:
type(x)

int

In [6]:
float(x)

5.0

## Lists

### Question 2
Print the second item in the fruits list.

In [8]:
fruits = ["apple", "banana", "cherry"]

In [11]:
fruits

['apple', 'banana', 'cherry']

In [13]:
print(fruits[1])

banana

### Question 3
Change the value from "apple" to "kiwi", in the fruits list.

In [15]:
fruits = ["apple", "banana", "cherry"]

In [16]:
fruits

['apple', 'banana', 'cherry']

In [17]:
fruits[0] = "kiwi"
fruits

['kiwi', 'banana', 'cherry']

### Question 4
Use the append method to add "orange" to the fruits list.

In [22]:
fruits = ["apple", "banana", "cherry"]

In [23]:
fruits

['apple', 'banana', 'cherry']

In [24]:
fruits.append('orange')
fruits

['apple', 'banana', 'cherry', 'orange']

### Question 5
Add "orange" to the fruits set.

In [27]:
fruits = {"apple", "banana", "cherry"}

In [29]:
fruits.add("orange")
fruits

{'apple', 'banana', 'cherry', 'orange'}

### Question 6
Use the correct method to add multiple items (more_fruits) to the fruits set.

In [31]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes", "apple", "apple"]

In [36]:
fruits.update(more_fruits)
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

### Question 7
Use the get method to print the value of the "model" key of the car dictionary.

In [39]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [40]:
type(car)

dict

In [41]:
car.get("model")

'Mustang'

### Question 8
Remove "model" from the car dictionary.

In [1]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [42]:
car.pop("model")
car

{'brand': 'Ford', 'year': 1964}

### Question 9
Print "Hello World" if a is greater than b.

In [44]:
a = 50
b = 10

In [47]:
if a>b :
    print("Hello World")
else:
    print("nothing")

Hello World

### Question 10
Print "Yes" if a is equal to b, otherwise print "No".

In [47]:
a = 50
b = 10

In [48]:
if a==b:
    print("Yes")
else:
    print("No")

No

### Question 11
Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [51]:
a = 50
b = 10

In [49]:
if a==b:
    print(1)
elif a>b:
    print(2)
else:
    print(3)

2

### Question 12
Print "Hello" if a is equal to b, or if c is equal to d.

In [51]:
a = 50
b = 10
c = 20
d = 20

In [52]:
if a == b or c == d:
    print("Hello")

Hello

### Question 13
Loop through the items in the fruits list.

In [57]:
fruits = ["apple", "banana", "cherry"]

In [58]:
for i in fruits:
    print(i)

apple
banana
cherry

### Question 14
Use the range function to loop through a code set 6 times.

In [60]:
for x in range(6):
    print(x)

0
1
2
3
4
5

### Question 15
Exit the loop when x is "banana".

In [64]:
fruits = ["apple", "banana", "cherry"]

In [63]:
for i in fruits:
    if i == "banana":
        break
    print(i)

apple

### Question 16
Create a function that takes 2 string as input 'firstname' & 'lastname' and returns a single concatenated string back, add spaces between names

In [64]:
x = "firstname"

In [65]:
y = "lastname"

In [66]:
z = x + " " + y
print(z)

firstname lastname